main .phone-content .pass-input {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, .15);
  border: none;
  border-radius: 35px;
  outline: none;
  margin-top: 1.25rem;
}

main .phone-content h3,
main .phone-content h5 {
  font-weight: 400;
  transition: .15s;
}
main .phone-content h3 {
  margin: 25rem 0 0 0;
}
main .phone-content h5 {
  margin: 0;
  color: rgb(201, 201, 201);
}