main .phone-content .password-table  {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}
main .phone-content .password-table .password-btn {
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  transition: .25s;
}
main .phone-content .password-table .password-btn:hover,
main .phone-content .password-table .password-btn:focus {
  background-color: rgba(255, 255, 255, .1);
}
main .phone-content .password-table .password-btn:active {
  background-color: rgba(255, 255, 255, .25);
}
main #password-screen {
  background-color: rgba(0, 0, 0, .75);
  text-align: center;
}